#day1task1, #day1task2, #day1task3, #day1task4, #day1task5, #day1task6 {
    background-color: rgb(60, 172, 95);
    color: #ffffff;
    border-radius: 4px;
    box-sizing: auto; 
}

#day2task1, #day2task2, #day2task3, #day2task4, #day2task5, #day2task6 {
    background-color: rgb(60, 172, 95);
    color: #ffffff; 
    border-radius: 4px;
}

#day3task1, #day3task2, #day3task3, #day3task4, #day3task5, #day3task6 {
    background-color: rgb(60, 172, 95);
    color: #ffffff; 
    border-radius: 4px;
}

#day4task1, #day4task2, #day4task3, #day4task4, #day4task5, #day4task6 {
    background-color: rgb(60, 172, 95);
    color: #ffffff; 
    border-radius: 4px;
}

#day5task1, #day5task2, #day5task3, #day5task4, #day5task5, #day5task6 {
    background-color: rgb(60, 172, 95);
    color: #ffffff; 
    border-radius: 4px;
}

#day6task1, #day6task2, #day6task3, #day6task4, #day6task5, #day6task6 {
    background-color: rgb(60, 172, 95);
    color: #ffffff; 
    border-radius: 4px;
}

#day7task1, #day7task2, #day7task3, #day7task4, #day7task5, #day7task6 {
    background-color: rgb(60, 172, 95);
    color: #ffffff; 
    border-radius: 4px;
}
